@import "tailwindcss";

@theme {
    --color-dark-Green: #031312;
    --color-medium-Green: #061C1A;
    --color-light-Green: #142A29;
    --color-gold-Muted: #B68D67;
    --color-light-grey: #A1A1A1;
    
}

@font-face {
    font-family: 'Rohesta';
    src: url('/assets/fonts/rohesta.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

  
@font-face {
    font-family: 'caughe';
    src: url('/assets/fonts/caughe.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  

@font-face {
    font-family: 'Greethen';
    src: url('/assets/fonts/Greethen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

  
@font-face {
    font-family: 'InterMed';
    src: url('/assets/fonts/InterMed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}