@import "tailwindcss";

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(14, 3, 8, 0) inset !important;
  -webkit-text-fill-color: #B68D67 !important;
  transition: background-color 9999s ease-in-out 0s;
}

@theme {
    --color-dark-Green: #031312;
    --color-medium-Green: #061C1A;
    --color-light-Green: #142A29;
    --color-gold-Muted: #B68D67;
    --color-light-grey: #A1A1A1;
    
}

@font-face {
    font-family: 'Rohesta';
    src: url('./Assets/Fonts/rohesta.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./Assets/Fonts/Inter_18pt-Bold.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

  
@font-face {
    font-family: 'caughe';
    src: url('./Assets/Fonts/caughe.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  

@font-face {
    font-family: 'Greethen';
    src: url('./Assets/Fonts/Greethen.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
    }

  
@font-face {
    font-family: 'InterMed';
    src: url('./Assets/Fonts/InterMed.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}